*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Merriweather', serif;
    background-color: #ebf2ff;
}
.nav__bar{
    padding-left: 20px;
    padding-right: 20px;
    background-color: #f9fafc;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
    z-index: 9999;
}
.nav__brand{
    width: 100px;
}
.nav__logo{
    width: 100%;
}
.btn__primary{
    background-image: linear-gradient( to right, #ff512f 0%, #dd2476 51%, #ff512f 100% );
    border: none;
    color: #fff;
    width: 100px;
    height: 40px;
    cursor: pointer;
    border-radius: 5px;
}
.container{
    padding: 20px;
}
/*
.bk__design2{
position: absolute;
  right: 2;
}
*/
.hero__container{
    width: 100%;
}
.hero__images{
background-position: center;
background-size: cover;
height: 40vh;
}
.hero__img{
    width: 100%;
    border-radius: 5px;
}
.hero__text{
    font-weight: 800;
    font-size: 30px;
    color: #1d3557;
    margin-top: 20px;
}
.hero__btn{
    margin-top: 20px;
}

.video__container{
    margin-top: 40px;
}
.video__player{
    width: 90%;
    height: 230px;
    margin-left: 20px;
}
.video__description{
    margin-top: 20px;
}

/*Explore our menu*/
.foot__list__container{
    width: 100%;
    margin-top: 40px;
}
.foot__list__heading{
    text-align: center;
    margin-bottom: 30px;
}
.foot__list{
    width: 100%;
    background-color: #fff;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;    
}
.foot__image img{
    width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.foot__description__container{
    margin-top: 10px;
    padding-left: 10px;
}
.foot__title{
    margin-bottom: 5px;
}
.foot__description .foot__place__no{
    color: #ff512f;
}
.foot__description{
    padding-left: 2px;
    margin-bottom: 30px;
    padding-bottom: 20px;
}
.view__more__container{
    width: 100%;
}
.view__more{
    width: 100%;
    font-size: 20px;
}


/*---Restaurants images section---*/

.res__container{
    width: 100%;
    margin-top: 20px;
}
.res__container h1{
    font-size: 23px;
    text-align: center;
    margin-bottom: 20px;
}
.res__imahes__container{
    width: 100%;
}
.restaurant1 img, .restaurant3 img{
    border-radius: 4px;
    margin: 0 5px;
    width: 100%;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}
.restaurant2 img, .restaurant4 img{
    border-radius: 4px;
    margin: 0 5px;
    width: 100%;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}
 

/*Full Screen Responsive*/
@media (min-width: 768px){
    .hero__container{
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
    }
    .hero__container{
        margin-bottom: 100px;
        width: 100%;
    }
    .hero__description{
        width: 100%;
    }
    .hero__images{
        width: 100%;
    }
    .video__container{
        margin: 0 10px;
    }
}
@media (min-width: 1024px){
.container {
    max-width: 1140px;
}
.container{
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.hero__images{
    width: 80%;
    height: 20vh;
    margin-top: 0;
}
.hero__img{
    width: 100%;
}
.hero__text{
    width: 100%;
}
}