*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Merriweather', serif;
    background-color: #ebf2ff;
}
.nav__bar{
    padding-left: 20px;
    padding-right: 20px;
    background-color: #f9fafc;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
    z-index: 9999;
}
.nav__brand{
    width: 100px;
}
.nav__logo{
    width: 100%;
}
.btn__primary{
    background-image: linear-gradient( to right, #ff512f 0%, #dd2476 51%, #ff512f 100% );
    border: none;
    color: #fff;
    width: 100px;
    height: 40px;
    cursor: pointer;
    border-radius: 5px;
}
.container{
    padding: 20px;
}
.hero__container{
    width: 100%;
}
.hero__images{
background-image: url(assets/svg/herobgpattren.svg);
background-image: url(assets/svg/heroShape.svg);
background-position: center;
background-size: cover;
height: 40vh;
}
.hero__img{
    width: 100%;
    border-radius: 5px;
}
.hero__text{
    font-weight: 800;
    font-size: 30px;
    color: #1d3557;
    margin-top: 20px;
}
.hero__btn{
    margin-top: 20px;
}

.video__container{
    margin-top: 40px;
}
.video__player{
    width: 90%;
    height: 200px;
    margin-left: 20px;
}
.video__description{
    margin-top: 20px;
}